@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    position: relative;
    background: url(header\background.png)lightgray 50% / cover no-repeat;
    /* background-repeat: no-repeat;
    background-size: cover; */
}
header .overlay{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0.00) 31.25%, rgba(158, 158, 158, 0.00) 77.6%, #FFF 85.42%);
}
header .overlay .top{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}
header .overlay .top .nav .nav-item .nav-link{
    color: white;
    font-weight: 500;
}
header .overlay .top .nav .nav-item .nav-link:hover{
    color: green;
}
header .overlay .top .nav .nav-item .nav-link i{
    font-size: 22px;
}  
header .overlay .menu{
    font-size: 26px;
    display: none;
}
@media (max-width: 460px){
    header .overlay .top .nav{
        position: absolute;
        top: -200px;
        flex-direction: column;
        transition: .3s linear;
        right: 20%;
    }
    header .overlay .top .nav.active{
        top: 0;
        position: absolute;
    }
    header .overlay .menu{
        display: unset;
    }
    header .overlay .top{
        border: 0;
    }
}

header .overlay .header-text{
    color: white;
    margin: auto;
    /* border: 1px solid white; */
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .overlay .header-text h2{
    font-weight: 700;
}
header .overlay .header-text p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
header .overlay .header-text button{
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    background-color: #00A651;
    border: 0;
    transition: .3s linear;
}
header .overlay .header-text button:hover{
    background: green;
}

.first-section{
    padding-bottom: 80px;
}
.first-section h2{
    /* border: 1px solid black; */
    font-weight: 700;
    padding: 10px;
}
.first-section .feature-bx .features{
    border-radius: 15px;
    background: #FFF;
    padding: 30px 20px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    transition: .3s linear;
    border: 1px solid black;
}
.first-section .feature-bx .features i{
    font-size: 24px;
}
.first-section .feature-bx .features h3{
    font-size: 24px;
    font-weight: 600;
}

.section-two{
    background: rgba(0, 88, 83, 0.05);
    padding: 80px 0px;
}
.section-two .section-two-text{
    background-image: url(images/world_map1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
.section-two .section-two-text h2{
    font-weight: 700;
    padding: 10px;
}
.section-two .section-two-text p{
    font-size: 16px;
    margin: 10px 0px 20px 0;
}
.section-two .section-two-text .cards{
    overflow: auto;
}
.section-two .section-two-text .cards::-webkit-scrollbar{
    display: none;
}
.section-two .section-two-text .cards .card{
    padding: 20px;
    min-width: 250px;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    background: #FFF;
}
.section-two .section-two-text .cards .card i{
    font-size: 30px;
}
.section-two .section-two-text .cards .card h3{
    margin: 10px 0;
}
.section-two .section-two-text .cards .card p{
    margin: 0;
}

.section-three{
    padding: 50px 0px 30px 0px;
    text-align: center;
    position: relative;
    background-image: url(images/world_map2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.section-three h2{
    font-weight: 700;
    margin-bottom: 20px;
}
.section-three .cards .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: #FFF;
    height: 160px;
    padding: 0;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    margin-top: 20px;
    transition: .3s linear;
}
.section-three .cards .card:hover{
    scale: 1.1;
    transition: .3s linear;
}
.section-three .cards .card p{
    font-weight: 500;
    font-size: 15px;
}
.section-three .cards .card i{
    font-size: 15px;
    margin-right: 10px;
}
@media (max-width: 769px){
    .section-three .cards .card{
        height: 120px;
    }
    .section-three .cards .card p{
        font-size: 10px;
    }
    .section-three .cards .card i{
        font-size: 10px;
    }
}

.section-four{
    background-color: #ECF1F0;
    padding: 40px 0px 60px 0px;
}
.section-four h2{
    font-weight: 700;
}
.section-four nav{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}
.section-four nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    overflow: auto;
}
.section-four nav ul::-webkit-scrollbar{
    display: none;
}
.section-four nav ul li .offers{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #666;
    border-radius: 10px;
    min-width: 180px;
    display: block;
    text-align: center;
    margin-right: 10px;
}
.section-four nav ul li .offers.active{
    background-color: #00A651;
}
.section-four .cards .card{
    border-radius: 15px 15px 15px 15px;
    position: relative;
    height: 500px;
    border: 0;
    margin-top: 20px;
}
.section-four .cards .card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}
.section-four .cards .card .card-txt{
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 0px 10px;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    /* height: 30%; */
}
.section-four .cards .card .card-txt a{
    color: black;
}
.section-four .cards .card .card-txt p:nth-last-of-type(2){
    font-size: 20px;
    font-weight: 500;
}
.section-four .cards .card .card-txt p:nth-last-of-type(1){
    font-size: 15px;
    font-weight: 500;
}
.section-four #discover{
    padding: 10px 20px;
    border-radius: 10px;
    background: #00A651;
    text-decoration: none;
    color: white;
    width: 150px;
    display: block;
    text-align: center;
    margin: auto;
    transition: .3s linear;
}
.section-four #discover:hover{
    background: green;
}

.section-five{
    padding: 40px;
    background-image: url(images/Background5.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: calc(100% - 95%);
}
.section-five h2{
    font-weight: 700;
}
.section-five #easy{
    font-size: 24px;
    font-weight: 500;
}
.section-five .trip{
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
    width: 60%;
    position: relative;
    transition: .3s linear;
}
.section-five .trip img{
    width: 100%;
    height: 30%;
}
.section-five .trip p:first-of-type{
    margin-top: 20px;
    margin-bottom: 5px;
}
.section-five .trip p:nth-of-type(2){
    color: #84829A;
    margin-bottom: 10px;
}
.section-five .trip .icons .icon{
    margin-bottom: 20px;
}
.section-five .trip .icons .icon{
    padding: 10px;
    height: 36px;
    width: 36px;
    background-color: #F5F5F5;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-five .trip .people{
    color: #84829A;
}
.section-five .mask{
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    width: 250px;
    right: -30%;
    top: 50%;
    background: var(--white, #FFF);
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.section-five .mask img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.section-five .mask .progress{
    background-color: #FFF;
    display: table;
    margin-left: 10px;
}
.section-five .mask .progress p:first-of-type{
    color: #84829A;
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}
.section-five .mask .progress p:nth-of-type(2){
    color: #000;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}
.section-five .mask .progress p span{
    color: #8A79DF;
}
@media (max-width: 1025px){
    .section-five .trip{
        width: 100%;
    }
    .section-five .trip .mask{
        position: unset;
        width: unset;
        margin-top: 20px;
    }
}
@media (max-width: 350px){
    .section-five .trip .mask{
        flex-direction: column;
    }
}
.section-five .book p{
    color: #84829A;
}
.section-five .book h6{
    color: #5E6282;
}
@media (max-width: 460px){
    .section-five .book{
        flex-direction: column;
    }
    .section-five .book img{
        margin-bottom: 10px;
    }
}

.section-six {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ECF1F0;
    background-image: url(temple.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.section-six h2{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}
.section-six .right-img{
    float: right;
}
.section-six .feedback{
    width: 60%;
    margin: auto;
    /* background-color: #FFEBEA; */
    /* background-color: #4596AB; */
    /* background: rgba(222, 222, 222, 0.65); */
    background: rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 0px 0px rgba(81, 77, 89, 0.15), 0px 12px 27px 0px rgba(81, 77, 89, 0.15), 0px 49px 49px 0px rgba(81, 77, 89, 0.13), 0px 110px 66px 0px rgba(81, 77, 89, 0.08), 0px 195px 78px 0px rgba(81, 77, 89, 0.02), 0px 304px 85px 0px rgba(81, 77, 89, 0.00);
    backdrop-filter: blur(0px);
    margin-top: 45px;
    transition: .3s linear;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    color: white;
}
.section-six .feedback img{
    margin-top: -75px;
}
.section-six .feedback p{
    font-weight: 500;
}
@media (max-width:992px){
    .section-six .feedback{
        width: 100%;
        transform: .3s linear;
    }
}

.section-seven{
    padding: 40px;
    background: #ECF1F0;
}
.section-seven h2{
    font-weight: 700;
}
.section-seven p{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-weight: 400;
    color: #000;
}
.section-seven .subscribe{
    margin-top: 20px;
}
.section-seven .subscribe input{
    border: none;
    padding: 10px 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
    transition: .3s linear;
}
.section-seven .subscribe input:hover{
    box-shadow: rgb(176, 176, 176) 0px 0px 15px 5px;
}
.section-seven .subscribe button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: .3s linear;
}
.section-seven .subscribe button:hover{
    background-color: #9c9ba0;
}
.section-seven .bottom-msg{
    flex-wrap: wrap;
}
.section-seven .bottom-msg p{
    color: black;
    font-weight: 500;
    width: unset;
    display: inline-block;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 30px;
}
@media (max-width: 433px){
    .section-seven .subscribe input{
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .section-seven .subscribe button{
        border-radius: 10px;
    }
}
